<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    
    <title>Home</title>
</head>
<header> 
    <%- include('./partials/header'); %>
</header>
<body>

    
</body>

<footer>
    <%- include('./partials/footer'); %>
</footer> 
</html>