<form [formGroup]="loginForm" (ngSubmit)="login()"> 

    <label for = "username">Username: </label><br/>
    <input type = "text" name = "username" id = "username" size = "25" formControlName = "username" required> <br/>
    <label for = "password">Password: </label><br/>
    <input type = "password" name = "password" id = "password" size = "25" required minlength="10" formControlName = "password" required> <br/>

    <button type = "submit"> Log in </button>
    <a href = "/register"> Register </a>   


</form>

